body {
    background-color: black;
    margin:0;
    color: white;
}

#logo {
    height: 30px;
    width: 30px;
}

#presentacion {
    height: 280px;
    overflow: hidden;
}
#iconos {
    height:30px;
    color: white;
    text-align: center;
    align-items: center;

}
h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 2rem;
    margin-bottom: 0;
}
p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    /* padding: 2rem; */
}


#tarj {
    height: 320px;
    overflow: hidden;
}
.container img {
    width: 100%;
    height: 50%;
  }
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.form-label {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

footer {
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    
}
#viajeschile {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
}
 
#rrss {
    color: white;
}
